<!DOCTYPE html>
<html>
<head>
	<title> Chunk | Food Delivery </title>


	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> </script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link rel="stylesheet" href="./css/style.css">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	


	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

	<!-- Vendor CSS Files -->
	<link href="vendor\animate.css\animate.min.css" rel="stylesheet">
	<link href="vendor\aos\aos.css" rel="stylesheet">
	<link href="vendor\bootstrap\css\bootstrap.min.css" rel="stylesheet">
	<link href="vendor\bootstrap-icons\bootstrap-icons.css" rel="stylesheet">
	<link href="vendor\boxicons\css\boxicons.min.css" rel="stylesheet">
	<link href="vendor\glightbox\css\glightbox.min.css" rel="stylesheet">
	<link href="vendor\swiper\swiper-bundle.min.css" rel="stylesheet">

	<!-- Template Main CSS File -->
	<link href="css\new_style.css" rel="stylesheet">

	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>

<body>

	<script>
		$(document).ready(function() {
	
			$('#low').click(function(){
				$('#none').fadeOut();
				$('#hightolow').fadeOut();
				$('#lowtohigh').fadeIn();
			});
	
			$('#hight').click(function(){
				$('#none').fadeOut();
				$('#hightolow').fadeIn();
				$('#lowtohigh').fadeOut();
			});

			$('#no').click(function(){
				$('#none').fadeIn();
				$('#hightolow').fadeOut();
				$('#lowtohigh').fadeOut();
			});

			$('#download').click(function(){
				$('html, body').animate({
					scrollTop: $("#footer").offset().top
				}, 800);
			});

			$("#recipe").autocomplete({
				source: async function(request, response) {
					let data = await fetch(`http://localhost:3001/search?term=${request.term}`)
						.then(results => results.json())
						.then(results => results.map(result => {
							return { label: result.name, value: result.name, id: result._id };
						}));
						response(data);
				},
				minLength: 2,
				select: function(event, ui) {
					console.log(ui.item);
				}
			});
		});
	</script>
	
	<!-- ======= Header ======= -->
	<header id="header" class="fixed-top d-flex align-items-cente">
		<div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">
	
		  <h1 class="logo me-auto me-lg-0"><a href="/">Chunk</a></h1>
		  <a href="/register" class="join-now-btn scrollto d-none d-lg-flex">Join us Now</a>
	
		</div>
	</header><!-- End Header -->
	<br><br><br><br>


	<div class="container packages ">
		
		<div class="row">
			<div class="col-lg col-md-3 col-sm-12 col-12 rounded-circle" id="italian">
			
					<a class="card rounded-circle w-75 h-75  "  style="background: none; align-items: center;" href="/italian">
						<img src="./image/categories/italian.jpg" class="   w-75 h-75 rounded-circle" >
						
						<div style="padding: 5px; margin-top: 1rem !important;" class="mt-5">
						<h4 class="card-title"style="text-align:center;">Italian</h4>
					  </div>
						
						</a>
			
			</div>
			<div class="col-lg col-md-3 col-sm-12 col-12 rounded-circle">
				<a class="card rounded-circle w-75 h-75  "  style="background: none; align-items: center;" href="/lebanese">
					
					<img src="./image/categories/lebanese.jpg" class="   w-75 h-75 rounded-circle" >
					
				  	<div style="padding: 5px; margin-top: 1rem !important;" class="mt-5">
						<h4 class="card-title"style="text-align:center;">Lebanese</h4>
					  </div>
					
				</a>
			
			</div>
			<div class="col-lg col-md-3 col-sm-12 col-12 rounded-circle">
				<a class="card rounded-circle w-75 h-75  " style="background: none; align-items: center;" href="/irish">
					
					<img src="./image/categories/irish.jpg" class="   w-75 h-75 rounded-circle" >
					
				  	<div style="padding: 5px; margin-top: 1rem !important;" class="mt-5">
						<h4 class="card-title"style="text-align:center;">Irish</h4>
					  </div>
					
				</a>
			
			</div>

			<div class="col-lg col-md-3 col-sm-12 col-12 rounded-circle">
				<a class="card rounded-circle w-75 h-75  " style="background: none; align-items: center;" href="/mexican">
					
					<img src="./image/categories/mexican.jpg" class="   w-75 h-75 rounded-circle" >
					 
				  	<div style="padding: 5px; margin-top: 1rem !important;" class="mt-5">
						<h4 class="card-title"style="text-align:center;    color: #fc2547;">Mexican</h4>
					  </div>
					
				</a>
			
			</div>
			
			<div class="col-lg col-md-3 col-sm-12 col-12 rounded-circle">
				<a class="card rounded-circle w-75 h-75  " style="background: none; align-items: center;" href="/american">
					
					<img src="./image/categories/american.jpg" class="   w-75 h-75 rounded-circle" >
					
				  	<div style="padding: 5px; margin-top: 1rem !important;" class="mt-5">
						<h4 class="card-title"style="text-align:center;">American</h4>
					  </div>
					
				</a>
			
			</div>

		</div>

		
		<div class="section-title">
			<h2>Restaurants</h2>
			<p>Check our mexican restaurants</p>
		</div>

		<ul class="nav justify-content-center mb-5">
			<li class="nav-item " id="low">
				<div class="join-now-btn scrollto d-none d-lg-flex ">low => high</div>
			
			</li>
			<li class="nav-item" id="hight">
				<div class="join-now-btn scrollto d-none d-lg-flex">high => low</div>
			</li>
			<li class="nav-item" id="no">
				<div class="join-now-btn scrollto d-none d-lg-flex">NO SORTING</div>
			</li>
		</ul>


			<div class="row"  id="none">
				

				<% for(var i = 0; i< restoname.length; i++){ %>
				<div class="col-lg-4 col-md-6 col-sm-12 col-12 ">
					<div class="card" >
						<div class="img-holder">
							<a href="/restaurant?resto=<%= restoname[i] %>"><img src="<%= image[i] %>" class="card-img-top" ></a>
						</div>
				
					
					<div class="card-body">
						<h4 class="card-title"><%= restoname[i] %></h4>
						<h6 class="card-text"><%= description[i] %></h6>
						<p class="card-text" style="color: rgb(105, 105, 105);"> <%= address[i] %></p>
						<p class="card-text" style="color: rgb(225, 22, 22);"> cost per person <%= cost[i] %></p>

					</div>
					</div>
				</div><% } %>


				
				
			</div>
			

			<div class="row"  id="hightolow" style="display: none;">
				<% var co = []; %>
				<% var na = []; %>
				<% var aa = []; %>
				<% var im = []; %>
				<% var de = []; %>
				<% for(var i = 0; i< restoname.length; i++){ %>

					<% for(var j = i+1; j< restoname.length; j++){ %>
						<% if( cost[j] > cost[i]){
							co[1] = cost[i];
							cost[i] = cost[j];
							cost[j]=co[1];

							na[1] = restoname[i];
							restoname[i] = restoname[j];
							restoname[j]=na[1];

							im[1] = image[i];
							image[i] = image[j];
							image[j]=im[1];

							de[1] = description[i];
							description[i] = description[j];
							description[j]=de[1];

							aa[1] = address[i];
							address[i] = address[j];
							address[j]=aa[1];
						} %>

						<% } %>

						<% } %>
		
				<% for(var i = 0; i< restoname.length; i++){ %>
				<div class="col-lg-4 col-md-6 col-sm-12 col-12 ">
					<div class="card" >
						<div class="img-holder">
							<img src="<%= image[i] %>" class="card-img-top" >
						</div>
				
					
					<div class="card-body">
						<h4 class="card-title"><%= restoname[i] %></h4>
						<h6 class="card-text"><%= description[i] %></h6>
						<p class="card-text" style="color: rgb(105, 105, 105);"> <%= address[i] %></p>
						<p class="card-text" style="color: rgb(225, 22, 22);"> cost per person <%= cost[i] %></p>

					</div>
					</div>
				</div><% } %>


				
				
			</div>
			
		
			<div class="row"  id="lowtohigh" style="display: none;">
				<% var co = []; %>
				<% var na = []; %>
				<% var aa = []; %>
				<% var im = []; %>
				<% var de = []; %>
				<% for(var i = 0; i< restoname.length; i++){ %>

					<% for(var j = i+1; j< restoname.length; j++){ %>
						<% if( cost[j] > cost[i]){
							co[1] = cost[i];
							cost[i] = cost[j];
							cost[j]=co[1];

							na[1] = restoname[i];
							restoname[i] = restoname[j];
							restoname[j]=na[1];

							im[1] = image[i];
							image[i] = image[j];
							image[j]=im[1];

							de[1] = description[i];
							description[i] = description[j];
							description[j]=de[1];

							aa[1] = address[i];
							address[i] = address[j];
							address[j]=aa[1];
						} %>

						<% } %>

						<% } %>
		
				<% for(var i = restoname.length-1; i>= 0; i--){ %>
				<div class="col-lg-4 col-md-6 col-sm-12 col-12 ">
					<div class="card" >
						<div class="img-holder">
							<img src="<%= image[i] %>" class="card-img-top" >
						</div>
				
					
					<div class="card-body">
						<h4 class="card-title"><%= restoname[i] %></h4>
						<h6 class="card-text"><%= description[i] %></h6>
						<p class="card-text" style="color: rgb(105, 105, 105);"> <%= address[i] %></p>
						<p class="card-text" style="color: rgb(225, 22, 22);"> cost per person <%= cost[i] %></p>

					</div>
					</div>
				</div><% } %>


				
				
			</div>
</div>
	

  <!-- ======= Footer ======= -->
	<footer id="footer" style="padding-top: 10px;">
		<div class="container">
		<div class="social-links mt-3">
			<a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
			<a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
			<a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
			<a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
			<a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
		</div>
		<div class="copyright">
			&copy; Copyright <strong><span>Chunk</span></strong>. All Rights Reserved
		</div>
		</div>
	</footer><!-- End Footer -->

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  <script src="https://kit.fontawesome.com/5118cb3e8d.js" crossorigin="anonymous"></script>
  <script src="./js/food.js"></script>
  
  </body>
</html>